@tailwind components;

@layer components {
    .center-row {
        @apply flex flex-row items-center justify-center;
    }

    .center-col {
        @apply flex flex-col items-center justify-center;
    }

    .center {
        @apply mx-auto text-center;
    }

    .header_blend-layer {
        transform: translateZ(0);
    }

    .underlined {
        text-decoration: none !important;
        @apply relative whitespace-nowrap;
    }

    .underlined::after {
        @apply absolute -bottom-1 left-0 block h-[2px] w-full origin-left scale-x-0 transition-all duration-[0.25s] content-[""];
    }

    .underlined:hover::after {
        @apply scale-x-100 bg-current;
    }

    .button-shadow {
        box-shadow:
            0 6px 0 rgba(32, 38, 47, 0.6),
            0 6px 20px rgba(0, 0, 0, 0.6);
        perspective: 300px;
    }

    .button-shadow:hover {
        transform: rotateX(30deg);
    }

    .button-shadow:active {
        box-shadow:
            0 3px 0 rgba(20, 40, 70, 0.6),
            0 3px 6px rgba(0, 0, 0, 0.7);
    }

    .glass {
        background: linear-gradient(
            360deg,
            rgba(var(--color-inverted), 0.1),
            rgba(var(--color-inverted), 0)
        );
        @apply rounded-lg bg-opacity-60 backdrop-blur-md;
    }

    .arrow {
        @apply m-0 block h-6 w-4  border-solid border-x-transparent;
    }

    .arrow-down {
        @apply arrow border-x-8 border-t-[16px];
    }

    .arrow-up {
        @apply arrow border-x-8 border-b-[16px];
    }

    /*** Wrapper ***/

    .section-wrapper {
        @apply h-full w-full max-w-screen-max px-4 py-14 sm:p-8 md:p-16;
    }

    /*** Text ***/

    .section-heading {
        @apply py-4 font-inter text-5xl font-bold uppercase;
    }

    .section-subheading {
        @apply font-sans text-2xl font-bold;
    }

    .content-base {
        @apply font-montesat text-lg tracking-wide text-custom-inverted/80 [&_strong]:text-custom-inverted/100;
    }

    .divider {
        @apply my-8 block h-[2px] w-24 bg-custom-primary;
    }
}
