@tailwind components;

@layer components {
    .center-row {
        @apply flex flex-row justify-center items-center;
    }

    .header_blend-layer {
        transform: translateZ(0);
    }

    .underlined {
        text-decoration: none !important;
        @apply relative whitespace-nowrap;
    }

    .underlined::after {
        @apply absolute -bottom-1 left-0 block h-[2px] w-full origin-left scale-x-0 transition-all duration-[0.25s] content-[""];
    }

    .underlined:hover::after {
        @apply scale-x-100 bg-current;
    }

    .button-shadow {
        box-shadow:
            0 6px 0 rgba(32, 38, 47, 0.6),
            0 6px 20px rgba(0, 0, 0, 0.6);
        perspective: 300px;
    }

    .button-shadow:hover {
        transform: rotateX(30deg);
    }

    .button-shadow:active {
        box-shadow:
            0 3px 0 rgba(20, 40, 70, 0.6),
            0 3px 6px rgba(0, 0, 0, 0.7);
    }

    .glass{
        background:linear-gradient(360deg, rgba(var(--color-inverted), 0.1), rgba(var(--color-inverted), 0));
        @apply backdrop-blur-md bg-opacity-60 rounded-lg;
    }
}
