@import './base/base.css';
@import './utilities/utilities.css';
@import './components/index.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    font-family:
        var(--font-cal),
        var(--font-bio),
        sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.font-matter {
    font-family: 'Matter', sans-serif;
}
