.box {
    --size: 40px;
    --strip-size: 10px;
    --strip-color: rgb(var(--color-secondary));

    width: var(--size);
    aspect-ratio: 1;
    cursor: pointer;
    transform-origin: 20px bottom -20px;
    animation: rotate 6s linear infinite;
    position: relative;
    transform-style: preserve-3d;
}

.box:hover {
    animation-duration: 2s;
}

.face {
    position: absolute;
    width: var(--size);
    aspect-ratio: 1;
    background-color: hsl(var(--color-primary-hs), var(--opacity));
    transform-style: preserve-3d;
}

.face.front {
    --opacity: 42%;
}

.face.bottom {
    --opacity: 42%;
    top: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
}

.face.top {
    --opacity: 52%;
    bottom: 100%;
    transform-origin: bottom;
    transform: rotateX(90deg);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-left,
.top-right {
    position: relative;
    background-color: hsl(var(--color-primary-hs),var(--opacity));
}

.top-left::after,
.top-right::after {
    content: '';
    position: absolute;
    height: calc(var(--strip-size) / 2);
    width: 100%;
    background-color: var(--strip-color);
}

.top-left::after {
    bottom: 0;
}

.top-right::after {
    top: 0;
}

.box .top-left {
    transform-origin: top;
    animation: close-1 1s forwards;
}

.box .top-right {
    transform-origin: bottom;
    animation: close-2 1s forwards;
}

.box:hover .top-left {
    transform-origin: top;
    animation: open-1 1s forwards;
}

.box:hover .top-right {
    transform-origin: bottom;
    animation: open-2 1s forwards;
}

.face.back {
    --opacity: 52%;
    bottom: 200%;

    transform-origin: center 60px -20px;
    transform: rotateX(180deg);
}

.face.right {
    --opacity: 48%;

    left: 100%;

    transform-origin: left;
    transform: rotateY(90deg);
}

.face.left {
    --opacity: 48%;

    right: 100%;

    transform-origin: right;
    transform: rotateY(-90deg);
}

.face.left::after,
.face.right::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--strip-color);
    width: var(--strip-size);
    height: var(--strip-size);
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes open-1 {
    from {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(160deg);
    }
}

@keyframes close-1 {
    from {
        transform: rotateX(160deg);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes open-2 {
    from {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-160deg);
    }
}

@keyframes close-2 {
    from {
        transform: rotateX(-160deg);
    }
    100% {
        transform: rotateX(0);
    }
}
